.swiper-tube {
    align-items: center;
    width: 100% !important;
    padding: 0 120px !important;
}
.swiper-horizontal.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    display: none;
}