.swiper-opinion {
    align-items: center;
    margin-top: 100px;
    width: 100%;
    margin-right: 0 !important;
}

@media (max-width: 600px) {
    .swiper-opinion {
        align-items: center;
        margin-top: 100px;
        width: 80%;
        margin: auto !important;
    }
}

