*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  scroll-behavior:smooth;
  font-family: "Expo Arabic";
  background-color: transparent;
  line-height: 1.5;
  overflow-x: hidden;
  background-color: #F3F6F8;
}